{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #eee">

  <div class="container h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px">
            <div class="card-body p-md-5">
                <div class="card-body p-4">
                    <div class="d-flex text-black">
                      <div class="flex-shrink-0">
                        <img src="https://th.bing.com/th/id/OIP.s1xJ_r90JBbatwONoBHfhgAAAA?rs=1&pid=ImgDetMain"
                          alt="{{ user.username }}" class="img-fluid"
                          style="width: 180px; border-radius: 10px;">
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">{{ user.username }}</h5>
                        <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                          style="background-color: #efefef;">
                          {% if upload %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nom d'utilisateur</th>
                          <th>Nom du fichier</th>
                          <th>Heure du Upload</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for history_entry in upload %}
                        <tr
                          class="{% if history_entry.some_condition %}success{% elif history_entry.another_condition %}danger{% elif history_entry.yet_another_condition %}info{% elif history_entry.yet_one_more_condition %}warning{% else %}active{% endif %}">
                          <td>{{ history_entry.client.username }}</td>
                          <td><a href="/media/{{ history_entry.uploaded_file.file.name }}">{{ history_entry.uploaded_file.file.name }}</a></td>
                          <td>{{ history_entry.uploaded_file.upload_time }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    <p>Aucun historique disponible.</p>
                    {% endif %}
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}